---
title: 禁用受保护的 DLL 验证
description: 禁用受保护的 DLL 验证
keywords:
- " (全局标志禁用受保护的 DLL 验证) "
ms.date: 05/23/2017
ms.localizationpriority: medium
ms.openlocfilehash: 9a16c5eb75fd3ed7923b5445a8f6c8c5f828ee1c
ms.sourcegitcommit: 418e6617e2a695c9cb4b37b5b60e264760858acd
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 12/07/2020
ms.locfileid: "96840843"
---
# <a name="disable-protected-dll-verification"></a>禁用受保护的 DLL 验证


## <span id="ddk_disable_protected_dll_verification_dtools"></span><span id="DDK_DISABLE_PROTECTED_DLL_VERIFICATION_DTOOLS"></span>


**禁用受保护的 DLL 验证** 标志显示在 GFlags 中，但它对 Windows 不起作用。

<table>
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody>
<tr class="odd">
<td align="left"><p><strong>缩写</strong></p></td>
<td align="left"><p>dpd</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>十六进制值</strong></p></td>
<td align="left"><p>0x80000000</p></td>
</tr>
<tr class="odd">
<td align="left"><p><strong>符号名称</strong></p></td>
<td align="left"><p>FLG_DISABLE_PROTDLLS</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>目标</strong></p></td>
<td align="left"><p>系统范围的注册表项、内核标志、映像文件注册表项</p></td>
</tr>
</tbody>
</table>

 

 

 





