---
title: 禁用受保护的 DLL 验证
description: 禁用受保护的 DLL 验证
ms.assetid: 28b5c4f8-18d3-44ed-a424-92e8e04dcdbc
keywords:
- 禁用保护 DLL 验证 （全局标志）
ms.date: 05/23/2017
ms.localizationpriority: medium
ms.openlocfilehash: a55ea3f776d73ebf9afa1c25d5698bee5db3d048
ms.sourcegitcommit: a33b7978e22d5bb9f65ca7056f955319049a2e4c
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 01/31/2019
ms.locfileid: "56576896"
---
# <a name="disable-protected-dll-verification"></a>禁用受保护的 DLL 验证


## <span id="ddk_disable_protected_dll_verification_dtools"></span><span id="DDK_DISABLE_PROTECTED_DLL_VERIFICATION_DTOOLS"></span>


**禁用受保护的 DLL 验证**标志将出现在 GFlags、 但在 Windows 上无效。

<table>
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody>
<tr class="odd">
<td align="left"><p><strong>缩写</strong></p></td>
<td align="left"><p>dpd</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>十六进制值</strong></p></td>
<td align="left"><p>0x80000000</p></td>
</tr>
<tr class="odd">
<td align="left"><p><strong>符号名称</strong></p></td>
<td align="left"><p>FLG_DISABLE_PROTDLLS</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>目标</strong></p></td>
<td align="left"><p>整个系统的注册表项、 内核标志和图像文件注册表项</p></td>
</tr>
</tbody>
</table>

 

 

 





